<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="2;url=http://127.0.0.1:8000/accounts/login/" />
    <script>
        window.onload = function() {
            alert("No momento, não estamos aceitando novos cadastros.\nPor favor, entre em contato com o responsável pelo sistema para mais informações.");
            window.location.href = "http://127.0.0.1:8000/accounts/login/";
        }
    </script>
</head>
<body>
    <p>Redirecionando para a página de login...</p>
</body>
</html>
